@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	
}

#header_name{
	margin: auto;
	width: 50%;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#bdodonto {
	position: relative;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 100;
    font-size: 2.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color:#800000;
}


.page-header {
    background-color: #800000;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 36pt;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

#logout {
    color: #ffffff;
    font-size: 30pt;
    position: absolute;
    display: inline-block;
    right: 40px;
    top:110px;
}

#logout:hover {
	color: #d26c6c;
}

#logout .tooltiptext {
    visibility: hidden;
    font-size: 12pt;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Posição do hint logout */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

#logout:hover .tooltiptext {
    visibility: visible;
}

#footer {
    color:white;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#logo_white{
    position:absolute;
    left:220px;
    top:-20px;
}