@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#div_fichas {
	padding: 10px;
}

#div_fichas h1 {
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 100;
	font-size: 2.5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color:#800000;
}

#div_fichas p, h4 {
	position: relative;
	text-align: center;
	font-weight: 100;
}

.ficha {
	display: inline-block;
	text-align: center;
	padding: 4px 21px;
	margin:2px;
	margin-left: 3px;
	background-color: #f3d9d9;
	color:#800000;
	border-style: solid;
	border-width: 1px;
	font-size-adjust: 0.6;
	font-family: Arial;

}

#cadastrar_ficha {
	visibility: hidden;
	text-align: center;
}

.ficha a {
	margin-top: 50%;
	vertical-align: bottom;
}

.ficha:hover {
	color: #f3d9d9;
	padding: 4px 21px;
	margin:2px;
	margin-left: 3px;
	background-color: #800000;
	border: 1px solid #b9b9b9;
	font-family: Arial;
}

.ficha:hover a{
	color: #FFFFFF;

}

.ficha:hover #cadastrar_ficha{
	visibility: visible;
}

#cadastrar_ficha a:active {
	color: #55FFF6;
}

