@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#div_info {
	padding: 10px;
}

#div_info h1 {
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 100;
	font-size: 2.5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color:#800000;
}

#div_info h4{
	position: relative;
	text-align: left;
	padding-left: 17%;
	font-weight: 100;
}

.info {
	margin: 3% auto 0;
	position: relative;
	width: 35%;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	font-family: Arial;
	background-color: #f3d9d9;
	color:#800000;
}


.button {
	display: inline-block;
	text-align: center;
	padding: 1% 2%;
	margin-top: 4%;
	margin-left: 38%;
	height: 7%;
	background-color: #f3d9d9;
	color:#800000;
	border-style: solid;
	border-width: 1px;
	border-color: #800000;
	font-size-adjust: 0.6;
	font-family: Arial;
	font-size: 15px;

}

.button:hover {
	color: #f3d9d9;
	background-color: #800000;
	border: 1px solid #b9b9b9;
	font-family: Arial;
}