@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#div_turmas {
	padding: 10px;
}

#div_turmas h1 {
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 100;
	font-size: 2.5em;
	color:#800000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#div_turmas p, h4 {
	position: relative;
	text-align: center;
	font-weight: 100;
}

.turma {
	display: inline-block;
	text-align: center;
	padding: 4px 21px;
	margin:2px;
	background-color: #f3d9d9;
	color:#800000;
	border-style: solid;
	border-width: 1px;
	font-size-adjust: 0.6;
	font-family: Arial;
	
}

#acessar_turma {
	visibility: hidden;
	text-align: center;
}

.turma a {
	margin-top: 50%;
	vertical-align: bottom;
}

.turma:hover {
	color: #f3d9d9;
	padding: 5px 21px;
	background-color: #800000;
	border: 1px solid #b9b9b9;
	font-family: Arial;
}

.turma:hover a{
	font-weight: 150;
	color: #FFFFFF;
	font-weight: bolder;
}

.turma:hover #acessar_turma{
	visibility: visible;
}

.turma a:active {
	color: #55FFF6;
}