@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body{
	  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#pagetitle {
	  position: relative;
	  text-align: center;
	  padding-bottom: 30px;
	  font-weight: 100;
	  font-size: 2.5em;
	  border-bottom-style: solid;
	  border-bottom-width: 1px;
	  color: #800000;
	  border-color: #800000;
}

#selectors {
	  padding-top: 20px;
	  position: relative;
    padding-bottom: 30px;
	  font-size: 100%;
	  color: #FFFFFF;
	  font-family: Arial;
}

#opcoes {
	  margin-top: -10%;
	  margin-left: 85%;
	  position: right; 
	  padding: 10px;
	  color: #000000;
}

#opcoes button {
	  padding: 10px;
	  margin-bottom: 22.5%;
	   width: 100%;
	  border-radius: 5px;
}

#buttonClear {
	  background-color: #F0F0F0;
}

#buttonSave {
	  background-color: #00FE0F;
}


.marca_vermelha {
    margin: 0px;
    width: 14%;
}

.marca_azul {
    margin: 0px;
    width: 14%;
}

.marca_vermelha button {
	padding: 10px;
    background-color: #FF0022;
    width: 100%;
    height: auto;
	text-align: center;
	border-radius: 5px;
	float:left;
}

.marca_azul button {
	position: left;
	padding: 10px;
	background-color: #0066FF;
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 5px;
	float:left;
}

#canvas {
    display: block;
	margin: 0% 10% 0% 22%;
    padding: 10px;
}