body{
	font-family: 'Roboto', sans-serif;
}

h2#pagetitle {
	margin: auto;
	width: 10%;
}

div#selectors {
    display: block;
    margin: auto;
    width: 20%;
    padding-bottom: 20px;
	font-size: 50%;
}

#Circle {
    display: inline-table;
    margin: auto;
    width: 20%;
}

#Line {
    display: inline-table;
    margin: auto;
    width: 20%;
}

#Axis {
    display: inline-table;
    margin: auto;
    width: 20%;
}

#Options {
    display: inline-table;
    margin: auto;
    width: 20%;
}

#buttonLogout {
    display: inline-table;
    margin: auto;
    width: 20%;	
}

#FilledCircle {
    display: inline-table;
    margin: auto;
    width: 20%;	
}

canvas#canvas {
    display: block;
    margin: auto;
    padding: 5px;
}