@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#div_ficha {
	border-style: solid;
	border-width: 0.5px;
	border-color: #800000;
	background-color: white;
	width: 100%;
	padding: 5px;
	margin-bottom: 20px
}

#div_ficha h2 {
	color:#800000;
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 100;
	font-size: 2.5em;
}

#ficha_form {
	margin: auto;
	width: 90%;
}

#ficha_form label{
	width: 45%;
	padding: 5px;
	margin-left: 8%;
	font-size: 0.975em;
}

#ficha_form p > input{
	width: 40%;
	padding-bottom: 3px;
	border-radius: 4px;
}

#ficha_form input[type="submit"]{
	padding: 4px;
	display: inline-block;
	margin-left: 38%;
	margin-top: 4%;
	margin-bottom: 2%;
	text-align: center;
	width: 30%;
	position: relative;
	background: #f3d9d9;
	padding: 10px 15px;
	color: #800000;
	cursor: pointer;
	font-family: Arial;
	font-size-adjust: 0.6;
	border-style: solid;
	border-width: 1px;
	border-color: #800000;
}

#ficha_form textarea{
	height:50px;
	width: 420px;
}

#ficha_form input[type="checkbox"]{
	width: 20px;
}



#ficha_form input[type="submit"]:hover {
	color: #f3d9d9;
	background-color: #800000;
	border: 1px solid #b9b9b9;

}