{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/atendimento.css">
</head>
<div id="div_atendimento">
    <h2>Cadastrar novo atendimento</h2>
		<form id="form_atendimento" method="post" action="{% url 'sistema_fichas:atendimento' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ atendimento_form.as_p }}
		{{ paciente_form.as_p }}
		<input type="submit" name="submit" value="Salvar e Cadastrar Ficha"/>
		<input type="hidden" name="next" value="{% url 'sistema_fichas:listar_turmas' %}"/>
	</form>
</div>
{% endblock %}