{% load staticfiles %}
<html>
    <head>
        <title>BDOdonto</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="logo_noname.ico" type="image/x-icon" />
    </head>
    <body>
        <div class="page-header">
            <div id="header_name">
                <a id="logo_white" href="{% url 'sistema_fichas:listar_turmas' %}"><img style="width: 18em" src="../../static/images/logo_claro.svg"></a>
            </div style="min-height:100%;">
		    {% if user.is_authenticated %}
                <!--<div id="logout" class="glyphicon glyphicon-off">-->
			    <a href="{% url 'logout' %}?next={% url 'login' %}" id="logout">
					<span class="glyphicon glyphicon-off"></span>
					<span class="tooltiptext">Logout</span>
				</a>
				<!--</div>-->
            {% endif %}
        </div>
        <div class="content container">
			{% block content %}
			{% endblock %}
        </div>
            <div>
                <p id="footer">Developed by &nbsp&nbsp<img src="../../static/images/factos_logo_red.svg"></p>
            </div>
    </body>
</html>
