{% load staticfiles %}
<html>
    <head>
        <title>BDOdonto</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="page-header">
		    {% if user.is_authenticated %}
                <div id="logout" class="glyphicon glyphicon-off">
					<span class="tooltiptext">Logout</span>
				</div>				
            {% endif %}
		    <div id="header_name">
                <h1><a href="/">BDOdonto</a></h1>
			</div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
