{% load staticfiles %}
<html>
    <head>
        <title>BDOdonto</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div>
                <p id="footer">Developed by &nbsp&nbsp<img src="../../static/images/factos_logo.svg"></p>
            </div>
            <div id="header_name">
                <h1 id="bdodonto"><a href="{% url 'sistema_fichas:listar_turmas' %}"><img id="logo_white" src="../../static/images/logo_white.svg">BDOdonto</a></h1>
            </div>
		    {% if user.is_authenticated %}
                <!--<div id="logout" class="glyphicon glyphicon-off">-->
			    <a href="{% url 'logout' %}?next={% url 'login' %}" id="logout">
					<span class="glyphicon glyphicon-off"></span>
					<span class="tooltiptext">Logout</span>
				</a>
				<!--</div>-->
            {% endif %}
        </div>
        <div class="content container">
			{% block content %}
			{% endblock %}
		</div>
    </body>
</html>
