{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/listar_procedimentos.css">
    <link rel="stylesheet" href="/static/css/cadastrar_procedimento.css">
</head>
<div id="div_atendimento">
	<h2>Prontuário do Paciente - Cadastrar Procedimento</h2>
		
		{% if err_upload %}
			<span>Faça o Upload de uma imagem ou desmarque a opção de exame</span>
		{% endif %}
			
		<form id="form_procedimento" method="post" action="{% url 'sistema_fichas:cadastrar_procedimento' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input class="button" type="submit" name="submit" value="Cadastrar Procedimento"/>
		<input class="button" type="hidden" name="next" value="{% url 'sistema_fichas:logout' %}"/>
	</form>	
		<a href="{% url 'sistema_fichas:listar_procedimentos' %}"><button class="back">Cancelar</button></a>

	<script>
		var options = document.getElementsByTagName("option");
		for (var j = 0; j<options.length ; j++){
			console.log(options[j].text)
			options[j].text=options[j].text.split(",")[0];
		}	
	</script>
</div>
{% endblock %}
