{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
	<title>Preencher Ficha - BDOdonto</title>
	<link rel="stylesheet" href="/static/css/preencher_ficha.css">
</head>
<div id="div_ficha">
	<h2>Cadastrar Ficha Dentística</h2>
	<form id="ficha_form" method="post" action="{% url 'sistema_fichas:dentistica' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ ficha_form.as_p }}
		<input type="submit" name="submit" value="Salvar Ficha"/>
	</form>
</div>
{% endblock %}