{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/atendimento.css">
</head>
<div id="div_atendimento">
    <h2>Detalhes do Paciente</h2>
    <div class="table">
            <table id="tabela">
              {% for field in form %}
              <tr>
                <td>{{ field.label_tag }}</td>
                <td> {{ field.value }}</td>
              </tr>
              {% endfor %}
            </table>
    </div>    
</div>
{% endblock %}