<html>
    <head>
        <title>BDOdonto</title>
		<link rel="stylesheet" href="/static/css/index.css">
		
        <meta charset="UTF-8">
    </head>
	<body>
		{% if user.is_authenticated %}
                <!--<div id="logout" class="glyphicon glyphicon-off">-->
			    <a title="Logout" class="logout" href="{% url 'sistema_fichas:logout' %}?next={% url 'sistema_fichas:login' %}"></a>
				<!--</div>-->
        {% endif %}
		<div class="container">
			<a href="{% url 'sistema_fichas:index' %}"><img src="../../static/images/logo_bd.svg"></a>
			<form action="{% url 'sistema_fichas:index' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>Olá {{username}}, pesquise abaixo o CPF do paciente</p>
					<input maxlength="11" type="text" onkeydown="" id="cpf" placeholder="Ex: 00000000000" name="cpf_p">
					<input type="submit" name="pesquisa" value="Pesquisar">

			</form>
		</div>
		<p class="footer">Developed by <a target="_blank" href="http://factos.ufpi.br"><img src="../../static/images/factos_logo.svg"></a></p>
	</body>

	<script>
	var CPF = document.getElementById("cpf");
	console.log(CPF);
	function maskCPF() {
	 	var evt = window.event;
	 	kcode=evt.keyCode;
	 	if (kcode == 8) return;
	 	if (CPF.value.length == 3) { CPF.value = CPF.value + '.'; }
	 	if (CPF.value.length == 7) { CPF.value = CPF.value + '.'; }
	 	if (CPF.value.length == 11) { CPF.value = CPF.value + '-'; }
	 	//console.log(CPF.value.length)
	 	//if (!isNaN(parseInt(CPF.value)) && CPF.value.length == 11) { console.log("ENTROU"); CPF.value = CPF.value.substring(0,3) + '.' + CPF.value
	 	//.substring(3,7) + '.' + CPF.value.substring(7,10) + '-' + CPF.value.substring(10,12); }
 	}
	</script>
</html>
