{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/info_ficha.css">
</head>
<div id="div_info">
    <h1>Confirmar Atendimento:</h1>
        <div class="info">
			<h4>Ficha: {{ ficha.nome }}</h4>
            <h4>Aluno: {{ aluno.first_name }}</h4>
			<h4>Turma: {{ turma.nome }}</h4>
        </div>
		<div id="avancar"><a href="{% url 'sistema_fichas:atendimento' %}">Avançar para o atendimento</a></div>
</div>
{% endblock %}