{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/listar_procedimentos.css">
</head>
<div id="div_atendimento">
    <h2>Prontuário do Paciente - Planejamentos</h2>
    <div class="table">
        <table id="tabela">
          <tr>
            <th>Data</th>
            <th>Responsável</th> 
            <th>Turma</th>
          </tr>
          {% for plan in planejamentos %}
          <tr>
            <td>{{plan.data}}</td>
            <td>{{plan.tap.aluno}}</td> 
            <td>{{plan.tap.turma}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
	<div class="but">
		<a href="{% url 'sistema_fichas:menu_paciente' %}"><button class="back">Voltar</button></a>
		<a href="{% url 'sistema_fichas:cadastrar_planejamento' %}"><button>Adicionar Planejamento</button></a>
	<div>
</div>
{% endblock %}