{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/listar_procedimentos.css">
</head>
<div id="div_atendimento">
    <h2>Prontuário do Paciente - Fichas</h2>
	<div class="table">
		<table>
            {% for ficha in fichas %}
                <tr>
                    <td>{{ficha}}</td>
                </tr>
            {% endfor %}
        </table>
	</div>
	<div class="but">
		<a href="{% url 'sistema_fichas:menu_paciente' %}"><button class="back">Voltar</button></a>
		<a href="{% url 'sistema_fichas:cadastrar_procedimento' %}"><button>Adicionar Procedimento</button></a>
	<div>
</div>
{% endblock %}