{% extends 'sistema_fichas/base.html' %}
{% block content %}
    <head>
        <title>Paciente - BDOdonto</title>                
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/menu_paciente.css">
    </head>
    <div class="this">
        <div class="data">
            <h3>Ficha do Paciente</h3>
            <p>Nome: {{nome_p}}</p>
            <p>CPF: {{cpf_p}}</p>
            <p>Quantidade de procedimentos realizados: {{qt_procedimentos}}</p>
            <a href="{% url 'sistema_fichas:detalhar_paciente' %}"><button >Mais Informações</button></a>
            <a href="{% url 'sistema_fichas:index' %}"><button id="back">Voltar</button></a>
        </div>
        <div class="options">
            <a href="{% url 'sistema_fichas:listar_fichas' %}"><button >Consultar Fichas</button></a>
            <a href="{% url 'sistema_fichas:listar_exames' %}"><button >Exames Complementares</button></a>
            <a href="{% url 'sistema_fichas:listar_planejamentos' %}"><button >Planejamentos</button></a>
            <a href="{% url 'sistema_fichas:listar_procedimentos' %}"><button >Procedimentos</button></a>
        </div>
    </div>
{% endblock %}