{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <title>Odontograma</title>
	<link rel="stylesheet" href="/static/css/odontograma.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
</head>
<h2 id="pagetitle">Odontograma</h2>
<div id="selectors">
    <div class="marca_vermelha">
        <button type="button" onclick="buttonRedCircle()">Circulo Vermelho</button>
		<button type="button" onclick="buttonRedLine()">Linha Vermelha</button>
		<button type="button" onclick="buttonRedAxis()">Marcar X Vermelho</button>
		<button type="button" onclick="buttonRedFilledCircle()">Preencher Vermelho</button>
    </div>
    <div class="marca_azul">
		<button type="button" onclick="buttonBlueCircle()">Circulo Azul</button>
        <button type="button" onclick="buttonBlueLine()">Linha Azul</button>
		<button type="button" onclick="buttonBlueAxis()">Marcar X Azul</button>
		<button type="button" onclick="buttonBlueFilledCircle()">Preencher Azul</button>
    </div>
    <div id="opcoes">
		<button id="buttonClear" type="button" onclick="buttonClear()">Limpar Alterações</button>
        <button id="buttonSave" type="button" href="" onclick="SaveJSON()">Salvar Alterações</button>
    </div>
</div>
<canvas id="canvas" width="515" height="500"></canvas>
<script>
//Function to set the csrf_token on header in AJAX request
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
var rect = document.getElementById
("canvas").getBoundingClientRect();
var body_rect = document.body.getBoundingClientRect();
var drawing_type = "";
var points = {
	"redcircle": [],
	"redline": [], 
	"redaxis": [], 
	"redfilledcircle": [], 
	"bluecircle": [],
	"blueline": [],
	"blueaxis": [], 
	"bluefilledcircle": [],
};
var url_odontograma = {% url 'sistema_fichas:odontograma' %};
var arrayPoints = [];
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var img = new Image();
img.onload = function(){
    ctx.drawImage(img, canvas.width / 2 - img.width / 2, canvas.height / 2 - img.height / 2);
};
img.src = "/static/images/drawing.svg";

function buttonRedCircle(){
    drawing_type = "redcircle";
}

function buttonBlueCircle(){
    drawing_type = "bluecircle";
}

function buttonRedLine(){
    drawing_type = "redline";
}

function buttonBlueLine(){
    drawing_type = "blueline";
}

function buttonRedAxis(){
    drawing_type = "redaxis";
}

function buttonBlueAxis(){
    drawing_type = "blueaxis";
}

function buttonRedFilledCircle(){
    drawing_type = "redfilledcircle";
}

function buttonBlueFilledCircle(){
    drawing_type = "bluefilledcircle";
}

function buttonClear(){
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.drawImage(img, canvas.width / 2 - img.width / 2, canvas.height / 2 - img.height / 2);
}


function SaveJSON(){
	$.ajax({
		url: url_odontograma,
		type: 'POST',
		contentType: 'application/json; charset=utf-8,',
		data: JSON.stringify(points),
		dataType: 'JSON',
		beforeSend: function(xhr, settings) {
		    console.log("Before Send");
            $.ajaxSettings.beforeSend(xhr, settings);
		},
		sucess: function(result) {
			alert(result.Result);
		}
	});
}
//    var dataImageURL = canvas.toDataURL();
//    img.src = dataImageURL;
//    document.getElementById("buttonSave").href = dataImageURL;
function drawRedAxis(x, y){
    ctx.strokeStyle = "#FF0000";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.moveTo(x - 2, y - 8);
    ctx.lineTo(x + 4, y + 20);
    ctx.stroke();
    ctx.closePath();
}

function drawBlueAxis(x, y){
    ctx.strokeStyle = "#0000FF";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.moveTo(x - 2, y - 8);
    ctx.lineTo(x + 4, y + 20);
    ctx.stroke();
    ctx.closePath();
}

function drawRedLine(x, y){
    ctx.strokeStyle = "#FF0000";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.stroke();
    ctx.closePath();
}

function drawBlueLine(x, y){
    ctx.strokeStyle = "#0000FF";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.stroke();
    ctx.closePath();
}

function drawRedCircle(x, y){
    ctx.strokeStyle = '#FF0000';
    ctx.beginPath();
    ctx.arc(x, y, 5, 0, 2*Math.PI);
    ctx.stroke();
}

function drawBlueCircle(x, y){
    ctx.strokeStyle = '#0000FF';
    ctx.beginPath();
    ctx.arc(x, y, 5, 0, 2*Math.PI);
    ctx.stroke();
}

function drawRedFilledCircle(x, y){
    ctx.fillStyle = '#FF0000';
    ctx.beginPath();
    ctx.arc(x, y, 6, 0, 2*Math.PI);
    ctx.fill();
}

function drawBlueFilledCircle(x, y){
    ctx.fillStyle = '#0000FF';
    ctx.beginPath();
    ctx.arc(x, y, 6, 0, 2*Math.PI);
    ctx.fill();
}
canvas.onclick = function(event) {
    var x = (event.clientX - 10) - (rect.left + (window.scrollX));	
    var y = (event.clientY - 10) - (rect.top - (window.scrollY));
    switch(drawing_type){
        case "redfilledcircle":
            drawRedFilledCircle(x, y);
            var point = [x, y];
            points.redfilledcircle.push(point);
            break;
        case "bluefilledcircle":
            drawBlueFilledCircle(x, y);
            var point = [x, y];
            points.bluefilledcircle.push(point);
            break;
        case "redcircle":
            drawRedCircle(x, y);
            var point = [x, y];
            points.redcircle.push(point);            
            break;
        case "bluecircle":
            drawBlueCircle(x, y);
            var point = [x, y];
            points.bluecircle.push(point);            
            break;
		case "redline":
            drawRedLine(x, y);
            var point = [x, y];
            points.redline.push(point);            
            break;
        case "blueline":
            drawBlueLine(x, y);
            var point = [x, y];
            points.blueline.push(point);            
            break;
        case "redaxis":
            drawRedAxis(x, y);
            var point = [x, y];
            points.redaxis.push(point);
            break;
        case "blueaxis":
            drawBlueAxis(x, y);
            var point = [x, y];
            points.blueaxis.push(point);
            break;
        default:
            alert("Opcao nao especificada");
    }
}
</script>
{% endblock %}
