<!DOCTYPE html>
<html>
<head>
<title>Odontograma</title>
<link rel="stylesheet" href="/static/css/odontograma_styles.css">
</head>
<body>
<h2 id="pagetitle">Odontograma</h2>
<div id="selectors">
    <div id="Circle">
        <button id="buttonCircle" type="button" onclick="buttonRedCircle()">Circulo Vermelho</button>
        <button id="buttonCircle" type="button" onclick="buttonBlueCircle()">Circulo Azul</button>
    </div>
    <div id="Line">
        <button id="buttonLine" type="button" onclick="buttonRedLine()">Linha Vermelha</button>
        <button id="buttonLine" type="button" onclick="buttonBlueLine()">Linha Azul</button>
    </div>
    <div id="Axis">
        <button id="buttonAxis" type="button" onclick="buttonRedAxis()">Marcar X Vermelho</button>
        <button id="buttonAxis" type="button" onclick="buttonBlueAxis()">Marcar X Azul</button>
    </div>
	<div id="FilledCircle">
        <button id="buttonFilledCircle" type="button" onclick="buttonRedFilledCircle()">Preencher Vermelho</button>
        <button id="buttonFilledCircle" type="button" onclick="buttonBlueFilledCircle()">Preencher Azul</button>
    </div>
    <div id="Options">
		<button id="buttonClear" type="button" onclick="buttonClear()">Limpar Alterações</button>
        <button id="buttonSave" type="button" href="" onclick="buttonSave()">Salvar Alterações</button>
    </div>
	<button id="buttonLogout" type="button"><a href="{% url 'logout' %}?next={{ request.path }}">Fazer Logout</a></button>

</div>
<canvas id="canvas" width="515" height="500"></canvas>

<script>
var rect = document.getElementById
("canvas").getBoundingClientRect();
var body_rect = document.body.getBoundingClientRect();
var drawing_type = "";
var points = {};
var arrayPoints = [];
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var img = new Image();
json = JSON.stringify(points);
img.onload = function(){
    ctx.drawImage(img, canvas.width / 2 - img.width / 2, canvas.height / 2 - img.height / 2);
};
img.src = "/static/images/Periodontia.png";

function buttonRedCircle(){
    drawing_type = "redcircle";
}

function buttonBlueCircle(){
    drawing_type = "bluecircle";
}

function buttonRedLine(){
    drawing_type = "redline";
}

function buttonBlueLine(){
    drawing_type = "blueline";
}

function buttonRedAxis(){
    drawing_type = "redaxis";
}

function buttonBlueAxis(){
    drawing_type = "blueaxis";
}

function buttonRedFilledCircle(){
    drawing_type = "redfilledcircle";
}

function buttonBlueFilledCircle(){
    drawing_type = "bluefilledcircle";
}

function buttonClear(){
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.drawImage(img, canvas.width / 2 - img.width / 2, canvas.height / 2 - img.height / 2);
}

function buttonSave(){
    var dataImageURL = canvas.toDataURL();
    img.src = dataImageURL;
    document.getElementById("buttonSave").href = dataImageURL;
}
function drawRedAxis(x, y){
    ctx.strokeStyle = "#FF0000";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.moveTo(x - 2, y - 8);
    ctx.lineTo(x + 4, y + 20);
    ctx.stroke();
    ctx.closePath();
}

function drawBlueAxis(x, y){
    ctx.strokeStyle = "#0000FF";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.moveTo(x - 2, y - 8);
    ctx.lineTo(x + 4, y + 20);
    ctx.stroke();
    ctx.closePath();
}

function drawRedLine(x, y){
    ctx.strokeStyle = "#FF0000";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.stroke();
    ctx.closePath();
}

function drawBlueLine(x, y){
    ctx.strokeStyle = "#0000FF";
    ctx.beginPath();
    ctx.moveTo(x, y + 15);
    ctx.lineTo(x + 2, y - 8);
    ctx.stroke();
    ctx.closePath();
}

function drawRedCircle(x, y){
    ctx.strokeStyle = '#FF0000';
    ctx.beginPath();
    ctx.arc(x, y, 5, 0, 2*Math.PI);
    ctx.stroke();
}

function drawBlueCircle(x, y){
    ctx.strokeStyle = '#0000FF';
    ctx.beginPath();
    ctx.arc(x, y, 5, 0, 2*Math.PI);
    ctx.stroke();
}

function drawRedFilledCircle(x, y){
    ctx.fillStyle = '#FF0000';
    ctx.beginPath();
    ctx.arc(x, y, 6, 0, 2*Math.PI);
    ctx.fill();
}

function drawBlueFilledCircle(x, y){
    ctx.fillStyle = '#0000FF';
    ctx.beginPath();
    ctx.arc(x, y, 6, 0, 2*Math.PI);
    ctx.fill();
}
canvas.onclick = function(event) {
    var x = (event.clientX - 4) - (rect.left + window.scrollX);	
    var y = (event.clientY - 3) - (rect.top - window.scrollY);
    switch(drawing_type){
        case "redfilledcircle":
            drawRedFilledCircle(x, y);
            break;
        case "bluefilledcircle":
            drawBlueFilledCircle(x, y);
            break;
        case "redcircle":
            drawRedCircle(x, y);
            break;
        case "bluecircle":
            drawBlueCircle(x, y);
            break;
		case "redline":
            drawRedLine(x, y);
            break;
        case "blueline":
            drawBlueLine(x, y);
            break;
        case "redaxis":
            drawRedAxis(x, y);
            break;
        case "blueaxis":
            drawBlueAxis(x, y);
            break;
        default:
            alert("Opcao nao especificada");
    }

    points.drawing_text = [event.pageX, event.pageY];
    json = JSON.stringify(points);
}
</script>
</body>
</html>
