{% extends 'sistema_fichas/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
	<title>Salvar Atendimento - BDOdonto</title>
	<link rel="stylesheet" href="/static/css/atendimento_opcoes.css">
</head>
<div id="div_ficha">
	<h2>Tipo de Ficha</h2>
	<form action="{% url 'sistema_fichas:opcoes_ficha' materia %}" method="post">
		{% csrf_token %}
		<select name="TipoFicha">
		{% for tipo in fichas %}
			<option value="{{tipo}}" >{{tipo}}</option>
		{% endfor %}
		</select>
		<input type="submit" name="submit" value="Escolher"/>
	</form>
</div>

<script>
var x = document.getElementsByTagName("img");
x[0].src="../../../static/images/logo_white.svg";
x[1].src="../../../../static/images/factos_logo_red.svg";
</script>
{% endblock %}
