{% extends 'sistema_fichas/base2.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/paciente_nao_encontrado.css">
</head>
<a href="{% url 'sistema_fichas:index' %}"><img src="../../static/images/logo_bd.svg"></a>
<p>O paciente de cpf {{cpf}} não consta no banco de dados</p>
<div>
	<a class="but" href="{% url 'sistema_fichas:index' %}"><button name="voltar">Voltar</button></a>
	<a class="but" href="{% url 'sistema_fichas:cadastrar_paciente' %}"><button name="cadastro">Cadastrar Paciente</button></a>
</div>
{% endblock %}